a {
    display: block;
    width: 200px;
    height: 25px;
    background: black;
    color: white;
    border: 2px solid grey;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
}

a:hover{
    width: 210px;
    background: grey;
    box-shadow: 10px 10px 15px black;
    transform: rotate3d(2, 1, 1);
}